# VS Code
.vscode/
.settings/

# IntelliJ
*.versionsBackup
*.iml
.idea/
.classpath
.project

# Output folders
target/
advinst-build/target/
advinst-agent/target/
advinst-server/target/

# TeamCity
.teamcity/
